body {
    font-size: 14px;
    color: black;
    font-size: 12px;
    background-color: teal;
    font-family: Verdana, serif;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {ß
    color: pink;
    background-color: pink;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-decoration: line-through;
    margin: 20px;
    padding: 40px;
    border-style: groove;
    border-width: 10 px;
}
h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: pink;
}

a {
    text-decoration: none;
    margin: 20px;
    padding: 40px;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: grey purple grey black;
    margin: 10px 50px;
}

.intro {
    color: grey;
    font-weight: bold;
}
#top {
    background-color: purple;
    padding: 1em
}

#top h1 {
    color: grey;
}

#top p {
    color: grey;
    font-weight: bold;
}
a:link {
    color: blue;
}

a:visited {
    color: purple;
}
a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}
body {
    margin: 1px 5px 10px 20px;
    padding: 1px 5px 10px 20px;
    background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;
}
li { display: inline }
#navigation {
    float: left;
    width: 200px;
}

#navigation2 {
    float: right;
    width: 200px;
}

#content {
    margin: 0 200px;
}
#footer {
    clear: both;
}
